$primary-color: #e3e2df;
$secondary-color: #0b0c10;
$font-stack: Nunito, Arial, Helvetica, sans-serif;
$light-color: #ee4c7c;
$dark-color: #9a1750;
$gray: #e3e2df;

//Set text color based on background

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color(($color));
}
