$primary-color: #c4f1ef;
$secondary-color: #324b4a;
$font-stack: Arial, Helvetica, sans-serif;
$light-color: #c9a48d;
$dark-color: #a3cfcd;
$blue: #007df0;
$orange: #ffcb56;

//Set text color based on background

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color(($color));
}
