@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

body {
  font-family: $font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  margin: 10px;
  color: $light-color;
}

p {
  color: $secondary-color;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  background-color: $secondary-color;
  color: $secondary-color;
  padding: 15px;

  img {
    width: 300px;
    height: 300px;
    background-color: $secondary-color;
    padding: 20px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    height: 400px;
    background-color: $dark-color;
    align-content: center;
    &-text {
      width: 55%;
      height: 300px;
      background-color: $dark-color;
      overflow: scroll;
    }
  }
}

nav {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $primary-color;
  overflow: hidden;
  height: 140px;
  ul {
    display: flex;
    list-style-type: none;
    background-color: $primary-color;
  }

  li {
    padding: 15px;
    margin-top: 10px;
    background-color: $primary-color;
  }

  a {
    color: $light-color;
    text-decoration: none;
    background-color: $primary-color;
  }
  a:hover {
    color: $secondary-color;
  }
  a:visited {
    text-decoration: none;
  }
}

.projects {
  display: flex;
  flex: 0 1 calc(50% - 1em);
  align-content: center;
  justify-content: center;
  position: relative;
  .project-links {
    display: none;
  }

  .project:hover {
    display: flex;
    justify-content: center;
    align-content: center;

    .homepage {
      filter: blur(4px);
      //transform: scale(1.2, 1.2);
      transition: 0.5s ease-in-out;
    }

    .project-links {
      display: inline-block;
      position: absolute;
      top: 50%;
    }
  }

  img {
    height: 400px;
  }
}

.showcase {
  @include set-background($primary-color);
  height: 700px;
  color: $secondary-color;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;

    h1 {
      font-size: 50px;
      line-height: 1.2;
      margin: 0 0 20px 0;
    }
    p {
      margin: 20px 0;
    }
    &-words {
      flex-direction: column;
      width: 50%;
      padding: 20px;
      .buttons {
        margin: 40px 0 40px 0;
      }
    }
  }
}

.tech-stack {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $gray;
  height: 200px;
  margin-bottom: 20px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-180px * 10));
    transform: translateX(calc(-180px * 10));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-180px * 10));
    transform: translateX(calc(-180px * 10));
  }
}

$animationSpeed: 40s;

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  height: 150px;
  width: 100%;
  background-color: $gray;

  &::before,
  &::after {
    content: "";
    height: 128px;
    position: absolute;
    width: 120px;
    z-index: 2;
  }

  &::after {
    right: -1px;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
  img {
    margin: 20px;
    width: 180px;
    height: 128px;
    background-color: $gray;
  }
}

.sliderTrack {
  -webkit-animation: scroll $animationSpeed linear infinite;
  animation: scroll $animationSpeed linear infinite;
  display: flex;
  width: calc(180px * 20);
  background-color: $gray;
}

@import "utilities";
@import "buttons";
@import "mobile";
